body {
    margin: auto;
}
header {
    background-color: #0f0355;
    color: white;
    padding: 30px;
    text-align: center;
}
footer {
    background-color: #0f0355;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: .75em;
}
main {
    margin: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
}
.principle {
    border: 5px solid black;
    border-radius: 2% 2% 2% 2%;
    background-color: rgb(209, 217, 224);
    width: 90%;
    margin: 5px;
    object-fit: contain;
    text-align: center;
}
.heading-back {
    background-color: #525764;
    color: white;
    text-align: center;
    font-size: 2em;
    width: 1fr;
}
img {
    width: 100%;
    height: 400px;
}
@media only screen and (min-width: 40.5em) and (max-width: 75.5em) { 
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer {
        font-size: 1em;
    }
    .third {
        grid-column: 1/3;
        width: 95%;
    }
}
@media only screen and (min-width: 75.5em) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    footer {
        font-size: 1.25em;
    }
}