* {
    margin: auto;
}
header {
    background-color: #FFBB6C;
    padding: 20px 50px;
}
main {
    background-color: #FFBB6C;
}

/* banner */
#event_banner {
  display: none;
  width: 100%;
  background-color: rgb(90, 20, 6);
  color: white;
  text-align: center;
  padding: 5px 20px;
  font-size: 1.5em;
}

/* hamburger menu */
#menu {
	display: inline;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
  text-align: left;
	padding: .5rem .75rem;
	background-color: rgb(0, 57, 80);
	color: #FFBB6C;
  width: 100%;
}

#menu::before {
	content: "≡";
}

.show div {
	display: block;
}

#menu.show::before {
	content: "X";
}

.navigation.show div {
	display: block;
}
.navigation div {
  display: none;
}


.nav_tag {
    background-color: rgb(0, 57, 80);
    color: #FFBB6C;
    width: 100%;
    padding: 10px 0px;
    justify-content: space-evenly;
  }
  .nav_tag:hover {
    background-color: #FFBB6C;
    color: rgb(0, 57, 80);
  }
  .nav_tag:hover a {
    color: var(--nav-hover-link-color);
  }
  
  nav {
      margin: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
  }
  nav a {
    text-decoration: none;
    color: #FFBB6C;
  }



  .hero_box {
    background-color: rgb(90, 20, 6);
    width: 100%;
    z-index: 0;
    position: relative;
  }
  /* .hero_img {
    background-color: grey;
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
  } */
  .hero_box picture img {
    width: 100%;
    max-height: 500px;
    height: auto;
    margin: auto;
    object-fit: cover;

  }

  .hero_joinus {
    position: absolute;
    top: 70%;
    left: 5%;
    border: 1px solid black;
    border-radius: 10px;
    background: radial-gradient(rgb(0, 57, 80), rgb(0, 57, 80));
    padding: .5rem;
    box-shadow: 0 0 1em black;
  }
  .hero_joinus a {
    color: white;
    text-decoration: none;
  }

  .hero_text {
    display:none;
    position:absolute;
    top: 60%;
    left: 55%;
    z-index: 2;;
  }
  .hero_headline {
    position: absolute;
    top:10%;
    left:10%;
  }



  .current_events_box {
    background-color: white;;
    margin: auto;
    width: 100%;
  }
  .events_section {
    color: rgb(90, 20, 6);
    background-color: white;
    margin: auto;
    width: 100%;
  }
  .events_section p {
    padding-top: 5%;
    margin-bottom: 15%;
    margin-left: 20px;
    margin-right: 5px;
  }
  .current_events_box h2 {
    padding: 10px 5px;
    text-align: center;
    color: rgb(90, 20, 6);
  }
  .events_section h3 {
    padding: 5px 10px;
  }
  .section_image {
    height: 250px;
    width: 60%;
    margin: 10px 20px;
    background-color: grey;
    border: 1px solid black;
    display: block;
    float: left;
  }
  hr {
    display: none;
  }


  .weather_box {
    height: 440px;
    background-color: lightgrey;
    position: relative;
  }
  /* .weather_box img{
    width: 100%;
    height: 340px;
    min-height: 340px;
  } */
  /* .weather_img {
    background-color: grey;
    width: 100%;
    height: 400px;
    position: relative;
  } */
  .weather_text {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
  }
  .weather_text p {
    color: white;
    margin: auto;
    margin-bottom: 20px;
    font-size: larger;
  }

  .spotlight_box {
    background-color: white;
    color: rgb(90, 20, 6);
    text-align: center;
    padding-top: 50px;
    margin-bottom: 120px;
    z-index: 0;
  }
  /* .spotlight_img {
    background-color: grey;
    height: 300px;
    width: 75%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    z-index: 1;
  }
  .spotlight_text {
    background-color: rgb(90, 20, 6);
    width: 90%;
    color: white;
    padding: 5px;
    position: absolute;
    top: 70%;
    left: 20%
  } */
  #spotlight_cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 8px;
    }
  #spotlight-cards section{
      box-shadow: 0 0 10px;
      width: 1fr;
      max-width: 300px;
      margin: 10px auto;
      padding: 10px 15px;
      overflow-wrap: break-word;
  }
  #spotlight-cards p {
    margin: 5px auto;
  }

  footer {
    background-color: rgb(0, 57, 80);
    color: #FFBB6C;
    padding: 10px auto;
    margin:auto;
    text-align: center;
  }

  .footer_note {
    text-align: center;
  }
  #footer_links {
    display: flex;
    flex-direction: column;
  }
  #footer_links a {
    color: #FFBB6C;
  }
  #footer_links a:hover {
    color: rgb(128, 68, 0);
  }
  button {
    margin:auto;
  }
  button a{
    margin: auto;
  }
  footer button {
    background-color: rgb(0, 154, 214);
    color: black;
    font-size: x-large;
    /* padding: 10px 10px;
    margin: 15px 5px; */
    border: none;
    border-radius: 10px;
  }
  /* footer button:hover {
    font-weight:bolder;
  } */
  #footer_logo {
    background-color: grey;
    margin: auto;
    border: 1px solid black;
    height: 180px;
    width: 180px;
  }

  .footer_contact {
    color: white;
    font-weight: 900;
    box-sizing: border-box;
  }


  /* .discover_container {
    margin: 2px auto;
    width: 94%;
  }
  .discover_section {
    padding: 2px 2px;
    background-color: rgb(0, 57, 80);
  }
  .content_box {
    background-color: lightgrey;
    width: 100%;
    height: 300px;
    margin: 5px auto;
    position: relative;
  }
  .image_box {
    width: 95%;
    margin: 5px auto;
    margin-bottom: 3px;
  }
  .image_box img {
    width: 100%;
    height: 100%;
    margin: auto;
  } */

  .test_box {
    height: 300px;
    width: 100%;
    border: 1px solid black;
    position: relative;
    text-align: center;
  }
  .test_box img {
    width: 100%;
    height: 100%;
    min-height: 400px;
    margin: auto;
  }
  #first .test_box{
    background-color: rgb(233, 232, 232);
  }
  #second .test_box{
    background-color: rgb(0, 57, 80);
    /* padding: 5px; */
    width: 100%;
    min-height: 200px;
  }
  .test_con {
    width: 100%;
  }
  .test_grid {
    float: left;
    background-color: yellow;
    width: 100%;
  }

  #disc_box_1 {
    text-align: center;
    font-size: medium;
  }
  #disc_box_1 br {
    height: 5%;
  }

  .disc_events {
    text-align: center;
  }
  .disc_events_img {
    background-color: lightgrey;
    height: 100px;
    width: 60%;
    margin: auto;
  }
  #disc_spot_img {
    height: 150px;
    width: 85%;
    padding: 0;
    margin: auto;
  }
  #disc_spot_txt {
    top: 70%;
    left: 10%;
    font-size: .55em
  }

  #discovery_main {
    background-color: white;
  }
  #discovery_main h1 {
    text-align: center;
    padding: 10px;
  }


  #form_container {
    background-color: white;
    margin: 0 auto;
    width: 90%;
    padding: 5%;
    display:block;
  }

  fieldset {
    border-color: rgb(90, 20, 6);
  }
  fieldset legend {
    color:rgb(90, 20, 6);
  }
  form label {
    display: block;
    color:rgb(0, 57, 80);
  }
  label input {
    background-color: lightgray;
    color: black;
  }
  fieldset ul li {
    list-style-type: none;
  }
  .label_span {
    display: block;
  }
  textarea {
    height: 3em;
    width: 13em;
  }
  label #timestamp {
    display: none;
  }
  .submit_btn {
    background-color:rgb(90, 20, 6);
    color: white;
    padding: .6em;
    font-size: large;
    border-style: hidden;
    float: center;
  }
  #thankyou_con {
    background-color: white;
    width: 80%;
    height: 200px;
    text-align: center;
    padding: 100px 20px;
    padding-bottom: 200px;
  }
  #thankyou_con h3 {
    color: rgb(70, 70, 70);
  }


  #directory_back {
    margin: auto;
    background-color: white;
    text-align: center;
    padding-top: 20px;
  }

  .grid {
    width: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 8px;
    width: 100%;
    /* overflow:hidden; */
    padding-bottom: 20px;
  }

  .grid section br {
   width: 100%;
   height: 5px;
  }

  .grid section{
    box-shadow: 0 0 10px;
    width: 80%;
    margin: 10px auto;
    padding: 10px 15px;
    overflow-wrap: break-word;
  }

  .grid p {
    margin: 5px auto;
  }
  .grid .dir-names {
    text-decoration: underline;
  }

  .list p {
    margin: 5px auto;
  }

  .list {
    width: 100px;
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
  }
  .list section {
    float: left;
    overflow-wrap: break-word;
    width: 80%;
    padding: 5px;
    padding-bottom: 15px;
  }

  .list section img{
    float: left;
    display: none;
    width: 100%;
  } 

  .list section:nth-child(even) {
    background-color: #FFBB6C;
  }

  #company-cards a {
    color:rgb(0, 57, 80);
  }
  #company-cards a:hover {
    color: black;
  }
  #company-cards a:visited {
    color: black;
  }