@media only screen and (min-width: 37em) {
    * {
        margin: auto;
    }
    header {
        background-color: rgb(255, 151, 33);
        padding: 20px 50px;
    }
    main {
        background-color: rgb(255, 151, 33);
    }


    .nav_tag {
        background-color: rgb(0, 57, 80);
        color: rgb(255, 151, 33);
        width: 100%;
        padding: 10px 0px;
        justify-content: space-evenly;
      }
      .nav_tag:hover {
        background-color: rgb(255, 151, 33);
        color: rgb(0, 57, 80)
      }
      .nav_tag:hover a {
        color: var(--nav-hover-link-color);
      }
      
      nav {
          margin: auto;
          text-align: center;
          display: flex;
          flex-direction: row;
      }
      nav a {
        text-decoration: none;
        color: rgb(255, 151, 33);
      }



      .hero_box {
        background-color: rgb(187, 22, 0);
        width: 100%;
        z-index: 0;
      }
      .hero_img {
        background-color: grey;
        width: 100%;
        height: 500px;
        position: relative;
        z-index: 1;
      }
      .hero_text {
        display:inline;
        position:absolute;
        padding-right: 10px;
        top: 60%;
        left: 40%;
        z-index: 2;
      }
      .hero_headline {
        position: absolute;
        top: 50%;
        left: 40%;
      }


      .current_events_box {
        background-color: white;;
        margin: auto;
        width: 90%;
      }
      .events_section {
        color: rgb(187, 22, 0);
        background-color: white;
        margin: auto;
        width: 100%;
      }
      .events_section p {
        padding-top: 10%;
        margin-bottom: 20px;
      }
      .events_section h2 {
        padding: 5px 10px;
      }
      .section_row {
        display: flex;
        flex-direction: row;
        /* margin-bottom: 30px; */
      }
      .section_image {
        height: 200px;
        width: 60%;
        margin: 10px 20px;
        background-color: grey;
        border: 1px solid black;
        display: block;
        float: left;
      }


      .weather_img {
        background-color: grey;
        width: 100%;
        height: 400px;
        position: relative;
      }
      .weather_text {
        position: absolute;
        top: 50px;
        left: 50px;
      }
      .weather_text p {
        color: white;
        margin: auto;
        margin-bottom: 20px;
        font-size: larger;
      }

      .spotlight_box {
        background-color: white;
        color: rgb(187, 22, 0);
        text-align: center;
        z-index: 0;
      }
      .spotlight_img {
        background-color: grey;
        height: 400px;
        width: 75%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        z-index: 1;
      }
      .spotlight_text {
        background-color: rgb(187, 22, 0);
        width: 30%;
        color: white;
        padding: 5px;
        position: absolute;
        top: 20%;
        left: 60%
      }




      footer {
        background-color: rgb(0, 57, 80);
        color: rgb(255, 151, 33);
      }
      .footer_row {
        padding: 10px 10px;
        display: flex;
        flex-direction: row;
      }
      .footer_note {
        text-align: center;
      }
      #footer_links {
        display: flex;
        flex-direction: column;
        
        text-align: left;
      }
      #footer_links a {
        color: rgb(255, 151, 33);
      }
      #footer_links a:hover {
        color: rgb(128, 68, 0);
      }
      #footer_calender {
        background-color: grey;
        margin: auto;
        border: 1px solid black;
        height: 180px;
        width: 180px;
      }
      footer button {
        background-color: rgb(0, 154, 214);
        color: black;
        font-size: x-large;
        padding: 5px 5px;
        border: none;
        border-radius: 10px;
        
      }
      #footer_logo {
        background-color: grey;
        margin: auto;
        border: 1px solid black;
        height: 180px;
        width: 180px;
      }
}