@media only screen and (min-width: 40em) {
    /* * {
        margin: auto;
    } */
    header {
        background-color: #FFBB6C;
        padding: 20px 50px;
    }
    main {
        background-color: #FFBB6C;
    }


    .nav_tag {
        background-color: rgb(0, 57, 80);
        color: #FFBB6C;
        width: 100%;
        padding: 10px 0px;
        justify-content: space-evenly;
      }
      .nav_tag:hover {
        background-color: #FFBB6C;
        color: rgb(0, 57, 80)
      }
      .nav_tag:hover a {
        color: var(--nav-hover-link-color);
      }
      
      nav {
          margin: auto;
          text-align: center;
          display: flex;
          flex-direction: row;
      }
      nav a {
        text-decoration: none;
        color: #FFBB6C;
      }



      .hero_box {
        background-color: rgb(90, 20, 6);
        width: 100%;
        z-index: 0;
      }
      .hero_img {
        background-color: grey;
        width: 100%;
        height: 500px;
        position: relative;
        z-index: 1;
      }
      .hero_text {
        display:inline;
        position:absolute;
        padding-right: 10px;
        top: 60%;
        left: 40%;
        z-index: 2;
      }
      .hero_headline {
        position: absolute;
        top: 50%;
        left: 40%;
      }


      .current_events_box {
        background-color: white;;
        margin: auto;
        width: 90%;
      }
      .events_section {
        color: rgb(90, 20, 6);
        background-color: white;
        margin: auto;
        width: 100%;
      }
      .events_section p {
        padding-top: 10%;
        margin-bottom: 20px;
      }
      .events_section h2 {
        padding: 5px 10px;
      }
      .section_row {
        display: flex;
        flex-direction: row;
        /* margin-bottom: 30px; */
      }
      .section_image {
        height: 200px;
        width: 60%;
        margin: 10px 20px;
        background-color: grey;
        border: 1px solid black;
        display: block;
        float: left;
      }


      .weather_img {
        background-color: grey;
        width: 100%;
        height: 400px;
        position: relative;
      }
      .weather_text {
        position: absolute;
        top: 50px;
        left: 50px;
      }
      .weather_text p {
        color: white;
        margin: auto;
        margin-bottom: 20px;
        font-size: larger;
      }

      .spotlight_box {
        background-color: white;
        color: rgb(90, 20, 6);
        text-align: center;
        z-index: 0;
      }
      .spotlight_img {
        background-color: grey;
        height: 400px;
        width: 75%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        z-index: 1;
      }
      .spotlight_text {
        background-color: rgb(90, 20, 6);
        width: 30%;
        color: white;
        padding: 5px;
        position: absolute;
        top: 20%;
        left: 60%
      }




      footer {
        background-color: rgb(0, 57, 80);
        color: #FFBB6C;
      }
      .footer_row {
        padding: 10px 10px;
        display: flex;
        flex-direction: row;
      }
      .footer_note {
        text-align: center;
      }
      #footer_links {
        display: flex;
        flex-direction: column;
        
        text-align: left;
      }
      #footer_links a {
        color: #FFBB6C;
      }
      #footer_links a:hover {
        color: rgb(128, 68, 0);
      }
      #footer_calender {
        background-color: grey;
        margin: auto;
        border: 1px solid black;
        height: 180px;
        width: 180px;
      }
      footer button {
        background-color: rgb(0, 154, 214);
        color: black;
        font-size: x-large;
        padding: 5px 5px;
        border: none;
        border-radius: 10px;
        
      }
      #footer_logo {
        background-color: grey;
        margin: auto;
        border: 1px solid black;
        height: 180px;
        width: 180px;
      }

      /* .discover_container {
       margin: 2px auto;
       float: left;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 94%;
        display: grid;
        grid-template-columns: 300px 2fr;
      }
      .discover_section {
        padding: 2px 2px;
        background-color: rgb(0, 57, 80);
      }
      #card_1 {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        background-color: white;
        float:left;
      }
      .content_box {
        background-color: white;
        width: 100%;
        height: 300px;
        margin: 5px auto;
        position: relative;
      }
      .image_box img {
        width: 100%;
        height: 100%;
        min-height: 400px;
        margin: auto;
      }
      .image_box {
        /* padding: 2% 2% 2% 2%;
        width: 100%;
        margin: 5px auto;
        margin-bottom: 3px;
      } */







      .test_box {
        height: 400px;
        width: 100%;
        border: 0px;
        position: relative;
      }
      .test_box img {
        width: 100%;
        height: 100%;
        min-height: 400px;
        margin: auto;
      }
      #first .test_box{
        background-color: rgb(233, 232, 232);
      }
      #second .test_box{
        background-color: rgb(0, 57, 80);
        /* padding: 5px; */
        width: 100%;
        min-height: 200px;
      }
      .test_con {
        width: 100%;
      }
      .test_grid {
        float: left;
        background-color: yellow;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: start;
      }





      #form_container {
        background-color: white;
        margin: 0 auto;
        width: 80%;
        padding: 5%;
        display:block;
      }
      .form_section    {
        min-width: 400px;
        width: 1fr;
        float: left;
      }
      form label {
        margin: 10px 0;
        display: block;
      }
      label input {
        float: right;
      }
      fieldset ul li {
        list-style-type: none;
      }
      .form_br {
        display: hidden;
      }
      .label_span {
        display: inline-block;
      }
      textarea {
        height: 9em;
        width: 32em;
      }
}
