body {
    margin: auto;
    max-width: 90%;
    background-color: rgb(219, 255, 255);
}
header {
    background-color: rgb(57, 119, 139);
    display: flex;
    margin: auto;
    border: 1px solid black;
}
footer {
    background-color: rgb(57, 119, 139);
    border: 1px solid black;
    margin: auto;
    text-align: center;
}
nav {
    background-color:lightgrey;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow:column;
}
nav a {
  width: fit-content;
}
nav a:link {
  color: black;
    margin: auto;
    text-align: center;
    text-decoration: none;
    width: fit-content;
}
nav a:visited {
  color: black;
  width: fit-content;

}
nav a:hover {
  color:white;
  background-color: black;
  width: fit-content;
}

section {
  margin: auto;
  width: 90%;
  height: 100%;
  background-color: white;
  border-radius: 4px;
}

section p {
  text-align: center;
  padding: 6px;
  font-style:italic;
  text-decoration: dashed;
}
section h3 {
  background-color: rgb(57, 119, 139);
    display: flex;
    margin: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid black;
    justify-content: space-evenly;
}

.card {
  border: 1px solid black;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

ul li {
  text-decoration: none;
  list-style-type:none;
  text-align: left;
  justify-content: center;
  padding: 6px;
}
#today1 {
  display:inline;
}
/* .image {
    font-size: 0;
    text-align: center;
    width: 200px;
    height: 150px;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
  }
  .trick {
    display: inline-block;
    vertical-align: middle;
    height: 150px;
  }
  li {
    font-weight: bold;
  }
  h2 {
    font-weight: bold;
  } */
/* #potrait {
    width: 10em;
    max-height: 100%;
    margin:auto;
    display: block;
}
.portrait-back {
    border: 5px solid black;
    background-color: blue;
    height: 300px;
    width: 300px;
    /* display:flex;
    object-fit: contain;

}
header {
    display: flex;
    margin: auto;
}
.image {
    font-size: 0;
    text-align: center;
    width: 200px;  /* Container's dimensions 
    height: 150px;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
  }
  .trick {
    display: inline-block;
    vertical-align: middle;
    height: 150px;
  } */
  @media only screen and (min-width: 35.5em) {
    h2 {
        font-size: 1.7em;
    }
    li {
        font-size: 1.3em;
    }
    nav {
        flex-flow:row;
        
    }
    main {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
    .card {
      margin:auto;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    footer {
      margin-top: 10px;
    }
}